.Modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.CloseButton {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 20px;
  cursor: pointer;
}
