@import './assets/css/SideBar.css';
@import url("./assets/css/register.css"); 
@import url("./assets/css/login.css"); 
@import url("./assets/css/reset.css");
@import url("./assets/css/music_player.css");
@import url("./assets/css/loading_cloud.css");
@import url('./assets/css/nav.css');
@import url('./assets/css/account.css');
@import url('./assets/css/full-app.css');
@import url("./assets/css/splash.css");
@import url('./assets/css/search.css');
@import url('./assets/css/snow.css');
@import url('./assets/css/genre_index.css');
@import url('./assets/css/genre_show.css');
@import url('./assets/css/song-item.css');